nbproject/*

/src/AppBundle/*

/web/bundles/

/app/bootstrap.php.cache
/var/bootstrap.php.cache
/app/cache/*

/app/config/parameters.yml
/app/config/parameters.ini

/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

/app/phpunit.xml
/phpunit.xml

/build/
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements

/composer.phar

/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep