form {width: 50%;}

.input-group-addon {background: #fff;}

.input-group {margin-bottom: 10px;}

.form-control[disabled] {background: #fff;}

.panel {padding: 35px;}

.panel-voucher {
    box-shadow: none;
    border: 4px solid #F82345;
    border-radius: 10px;
}